# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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